 body {
   margin : 0px   ;
   text-align : center ;
   font-family : 'Merriweather', serif;

 }
 hr {
     border-style: dotted  none none ;
     height : 0;
     width : 5% ;
     border-top-width : 10px ;
     border-color  : red ;

 }
 h1 {
    margin-top : 0 ;
    font-family : 'Rock 3D', cursive;
    font-size : 4.37rem ;

 }

h2{
  font-size : 2rem ;
  font-weight : normal ;
}
h3 {

  font-weight : normal ;
}
.top {
   background-color : #BBE1FA ;
   color : #1B262C ;
   padding-top : 50px ;

}
#check {
  font-size : 1.07rem;
  font-family: 'Montserrat',serif;

}
.title {
    position : relative;
    top : 50px ;
    font-family :'Montserrat', sans-serif;
}

.cloud {
  position : absolute ;
  width : 7% ;
}

.profile {
  padding : 80px  ;
  background-color : #3282B8 ;
  overflow : hidden ;
  font-size : 1.5em ;



}
 
.skills {
  background-color : #0F4C75 ;
  overflow:hidden ;
  color : #BBE1FA ;
  padding-top : 50px ;

}

.skill-row {
  background-color : #0F4C75;
  color : white ;
  overflow : hidden  ;
  width : 50% ;
  margin : 80px auto 80px auto ;
  text-align : left ;
  line-height :2 ;
  padding : 20px ;

  box-shadow: 0 0 0 0.1rem #BBE1FA;

}


.contact-me {
  padding-top : 20px ;
  background-color : #1B262C ;
  color :#BBE1FA ;
  overflow : hidden ;

}
.bottom-container {
  background-color : #1B262C;
  color :#BBE1FA ;

  overflow : hidden ;
}

.head{
  color : #BBE1FA ;

}

}
#hel{
  color : #BBE1FA ;
}

}
#hindi {
 font-family : 'Poppins', sans-serif;


}

#cloud1 {
   right : 450px ;

}
.computer-img {
  width : 20% ;
  float : left ;
  margin-right : 20px ;
}
.run-img{
  width : 20% ;
  float : right ;
  padding : 20px ;
}
#cs {
  position : relative ;
  left : 300px ;

}
#cs {
  position : relative ;
  left : 300px ;

}
#cs {
  position : relative ;
  left : 300px ;

}


#cs {
  position : relative ;
  left : 300px ;

}
#run {
  position : relative ;
  right : 300px ;
}
#man {
  width : 11% ;


}
